body{
	margin: 0;
	padding: 0;
}

.main{
	display: grid;
	background: #006CFF;
    grid-template-columns: 10% 90%;
    width: 100%;
    height: 100vh;
}

.actionBar{
	position: relative;
	background: #66BEE8;
}

#imgLogo{
	position: relative;
	width: 80%;
	margin-top: 2vw;
	margin-left: 10%;
}

.actionBar h1{
	position: relative;
	font-family: 'Ubuntu';
	font-weight: 500;
	font-size: 0.8vw;
	color: #FFFFFF;
	width: 100%;
	text-align: center;
    margin-top: 3vw;
}

.search{
	position: relative;
	width: 80%;
	margin-left: 10%;
}

.search input{
	position: absolute;
	width: 100%;
	height: 1.6vw;
	line-height: 2.2vw;
	background-color: #E0F2FA;
	border: none;
	border-radius: 0.2vw;
	color: #8B8B8B;
	font-family: 'Ubuntu';
	font-weight: 600;
	font-size: 0.8vw;
	padding-left: 0.6vw;
	box-sizing: border-box;
}

.search img{
    position: relative;
    float: right;
    height: 1.2vw;
    margin-top: 0.2vw;
    margin-right: 0.3vw;
}

.actionArea{
	position: relative;
	overflow: scroll;
}

.content{
	position: absolute;
    width: 100%;
    min-height: 100%;
    font-family: 'Ubuntu';
	font-weight: 500;
}

#worker{
	background: #FFFFFF;
}

#titleWorker{
	width: 100%;
	text-align: center;
	font-family: 'Ubuntu';
	font-size: 1.6vw;
	font-weight: 500;
	color: #FFFFFF;
	background: #66BEE8;
	margin: 0;
	padding-top: 0.6vw;
	padding-bottom: 0.6vw;
}

#upSection{
    display: grid;
	grid-template-columns: 50% 50%;
}

#worker div{
	margin-top: 1vw;
}

#imgAvatar{
	background: #F8FDFF;
    border-radius: 0;
    border-width:0.1vw;
    border-style:dashed;
    border-color:#000000; 
    float: left;
	width: 12vw;
	height: 12vw;
	margin: 0;
	margin-left: calc(50% - 6vw);
}

#btnActv{
	width: 12.2vw;
	height: 2.4vw;
	position: relative;
	clear: both;
	float: left;
	margin-left: calc(50% - 6vw);
	margin-top: 1vw;
	background: #66BEE8;
	cursor: pointer;
	font-family: 'Ubuntu';
	font-size: 0.9vw;
	font-weight: 500;
	color: #FFFFFF;
	border: none;
}

.txtWorker{
    background: #F8FDFF;
    border-radius: 0;
    border-width:0.1vw;
    border-style:dashed;
    border-color:#000000; 
    margin-left: 2vw;
    margin-top: 0;
    margin-bottom: 1vw;
    font-size: 1.1vw;
    height: 1.4vw;
    padding: 0.1vw;
    text-align: center;
}

#documents{
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
}

#documents img{
	margin: 2vw;
	margin-top: 1vw;
	width: calc(100% - 4vw);
	min-height: 22vw;
	background: #F8FDFF;
	border-radius: 0;
	border-width: 0.1vw;
    border-style:dashed;
    border-color:#000000; 
}

#customer{
	background: #38FD4F;
	margin-top: 1vw;
    margin-left: 3vw;
    font-size: 2vw;
}
